*{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f8edeb;
    color: #5d4037;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d8c3a5;
}

#container{
    background-color:#f8edeb;
    max-width: 1200px;
    margin: 20px auto; /*Center with margin*/
    padding: 20px;
    width: 80%;
}

.title{
    color: #e5989b;
    font-size: 2.5rem;
    margin-bottom: 0;
}

img{
    width: 150px;
}

.info-section, .results-section{
    margin-bottom: 40px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.info-section h2, .results-section h2{
    font-size: 1.8rem;
    color: 5d4037;
    margin-bottom: 15px;
    margin-top: 0;
}

.info-section p{
    color:#8d6e63;
    font-size: 1rem;
    line-height: 1.6;
}

.info-section li{
    color: #8d6e63;
    margin-bottom: 8px;
}

.info-section ul{
    list-style: none;
    padding-left: 0;
}

.spotify-button, select.spotify-button, .result-button{
    background-color: #e5989b;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor:pointer;
    text-decoration: none;
}

.spotify-button:hover, select.spotify-button:hover, .result-button:hover{
    background-color: #ffb6b9;
    color: white;
}

#result {
    color: #5d4037;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.result-card{
    background-color: #fff5e1;
    color: #5d4037;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.result-intro-text{
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: 300;
}

footer{
    background-color: #d8c3a5;
    padding: 20px;
    border-top: 1 px solid #bfa89e;
    margin-top: 40px;
    text-align: center;
}

.visit-link a {
    color: #e5989b; 
    text-decoration: none; 
}

.visit-link a:hover {
    color: #c76d7e; 
}


.social-links{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 0.9rem;
}

.social-links li a{
    color: #8d6e63;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links li a:hover{
    color: #5d4037;
}



